<mat-card class="m-5 p-3" appearance="outlined">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Código</th>
      <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nome</th>
      <td mat-cell *matCellDef="let element">{{element.name}}</td>
    </ng-container>

    <ng-container matColumnDef="crm">
      <th mat-header-cell *matHeaderCellDef> CRM</th>
      <td mat-cell *matCellDef="let element">{{element.crm}}</td>
    </ng-container>

    <ng-container matColumnDef="specialization">
      <th mat-header-cell *matHeaderCellDef> Especialidade</th>
      <td mat-cell *matCellDef="let element">{{element.specialization}}</td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
