@use '@angular/material' as mat;
@import 'primeflex/primeflex';

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$cyan-palette,
    tertiary: mat.$blue-palette
  )
));

@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  height: 100%;

  @include mat.all-component-themes($theme);
}

html {
  height: 100%;
}

table {
  width: 100%;

  .mat-mdc-header-cell {
    font-weight: bold !important;
    background: #2e5c6c !important;
    color: #eaeaea !important;
  }
}

img {
  max-width: 40px;
}

.menu {
  background-color: #2C6975 !important;
  color: #FFFFFF !important;
}

.menu-btn:not(:disabled) {
  background-color: #88B04B !important;
  color: #FFFFFF !important;
}

.btn-default:not(:disabled) {
  background-color: #3d7a90 !important;
  color: #1e1f22 !important;
}
